@using GestionAgilDeProyectos.Models
@model IEnumerable<Cursos>
@{
    ViewData["Title"] = "Listado de Cursos Disponibles";
}
<partial name="_MenuSistema" />
<section class="pricing-area pt-100">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-xl-6 col-lg-7 col-md-10">
                <div class="text-center section-title mb-60">
                    <h1>Cursos Publicados</h1>
                    <p>Descubre los ultimos Cursos disponibles.</p>
                </div>
            </div>
        </div>

        <div class="row">
			@foreach (var item in Model.OrderByDescending(item => item.FechaCurso).Where(item => item.Estado == "Disponible"))
            {
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="single-product">
                        <div class="product-img">
                            <a asp-action="DetailsCursos" asp-route-id="@item.Id">
                                <img src="@Url.Content(item.Logo)" alt="" height="300">
                            </a>
                            <div class="product-action">
                                <a href="javascript:void(0)"><i class="lni lni-heart"></i></a>
                                <a href="javascript:void(0)" class="share"><i class="lni lni-share"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="name">@Html.DisplayFor(modelItem => item.Nombre)</h3>
                            <span class="update">Last Update: @Html.DisplayFor(modelItem => item.FechaIngreso)</span>
                            <ul class="address">
                                <li>
                                    <a href="javascript:void(0)"><i class="lni lni-calendar"></i> @Html.DisplayFor(modelItem => item.FechaCurso)</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><i class="lni lni-map-marker"></i> @Html.DisplayFor(modelItem => item.Comuna.Nombre)</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><i class="lni lni-user"></i> @Html.DisplayFor(modelItem => item.Nombre)</a>
                                </li>
                            </ul>
                            <div class="product-bottom">
                                <h3 class="price">@Html.DisplayFor(modelItem => item.ValorPeso)</h3>
                            </div>
                            <div style="padding-left:80%">
                                <a asp-action="DetailsCursos" asp-route-id="@item.Id" class="btn btn-light">Detalle</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>